
body {
  margin:0;
  font-family: 'Work Sans', sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #333333;
  background: linear-gradient(180deg, #DAB47B 32.48%, #70B3E6 47.07%, #BDCFE3 95.38%) no-repeat;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Container */
.container {
  width:100%;
  height: 100%;
  margin: 0 auto;
}


/* Header */
.header {
  position: relative;
  width: 100%;
  /*max-width: 1920px;*/
  min-width: 1150px;
  height: 185px;
  z-index: 1000;
  /*margin: 0 auto;*/

  background: linear-gradient(180deg, #FFFFF9 49.73%, rgba(255, 255, 249, 0) 83.5%);
}

.header__inner {
  position: relative;
  font-size: 36px;
  top: 22px;
  width: auto;
  height: 60px;
  min-width: 1150px;
  max-width: 1364px;
  padding: 0 69px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.header__button {
  position: relative;
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.header__link-button {
  transition: fill 0.1s linear;
}

.header__link:hover .header__link-button {
  fill: #EABE60;
}


/* Nav */
.nav {
  position: relative;
  height: 60px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav__logo {
  position: absolute;
  width: 271px;
  height: 55px;
}

.nav__link {
  position: relative;
  padding: 0 10px;
  white-space: nowrap;

  color: #333333;
  text-decoration: none;

  transition: color 0.1s linear;
}

.nav__link:hover {
  color: #EABE60;
}


/* Intro */
.intro {
  position: relative;
  width: 100%;
  /*max-width: 1920px;*/
  min-width: 1150px;
  height: 51.56vw;
  min-height: 594px;
  /*max-height: 990px;*/

  bottom: 96px;
  margin: 0 auto 96px;


  background: url("../images/intro.png") top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
}

.intro__inner {
  position: relative;
  display: inline-block;
  width: 442px;
  height: 173px;

  right: 360px;
  top: 130px;
}

.intro__blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;

  background: rgba(221, 221, 221, 0.43);
  filter: blur(45px);
  border-radius: 16px;
}

.intro__title {
  position: absolute;
  width: 100%;
  z-index: 100;

  font-weight: 300;
  font-size: 37px;
  line-height: 108.6%;
  text-transform: uppercase;
  text-align: center;
}


/* Main */
.main {
  position: relative;
  min-width: 1150px;
  max-width: 1920px;
  margin: 0 auto;
}

.main__wrapper {
  display: flex;
  justify-content: center;
}


/* Aside */
.aside {
  position: relative;
  display: inline-block;
  width: 456px;
  height: 736px;
  right: 60px;
  background: #D9CEBC;
  box-shadow: 0 8px 50px 2px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.aside__buggy-img {
  display: block;
}

.aside__dividing-line {
  height: 10px;
  background: #BD9852;
}

.aside__title {
  position: absolute;
  width: 319px;
  height: 27px;
  left: 29px;
  top: 371px;
  font-weight: 500;
  font-size: 25px;
  line-height: 108.6%;
}

.aside__info {
  position: absolute;
  display: block;
  top: 423px;
  left: 20px;
  font-size: 20px;
  line-height: 160.6%;
  color: #000000;
}

.aside__link {
  position: absolute;
  top: 655px;
  left: 61px;

  display: inline-block;
  width: 161px;
  height: 37px;
  border: 2px solid #BD9852;
  box-sizing: border-box;
  border-radius: 50px;

  font-size: 16px;
  text-align: center;
  color: #333333;
  padding: 3px;
  text-decoration: none;

  transition: color 0.1s linear;
}

.aside__link-arrow {
  transition: fill 0.1s linear;
}

.aside__link:hover {
  color: #BD9852;
}

.aside__link:hover .aside__link-arrow {
  fill: #BD9852;
}

.aside__note {
  position: absolute;
  left: 29px;
  top: 705px;
  margin: 0;

  font-size: 14px;
  color: #000000;

}

/* Section */
.case {
  position: relative;
  width: 552px;
  height: 736px;
  left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Description */
.description {
  position: relative;
  display: inline-block;
  margin: 0;

  width: 552px;
  height: 337px;

  background: #C4C4C4;
  box-shadow: 0 8px 50px 2px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.description__desert-img {
  position: absolute;
}

.description__text {
  position: absolute;
  left:25px;
  top: 236px;
  margin: 0;
  font-size: 18px;
  line-height: 108.6%;
  color: #C0C0C0;
}


/*Video */
.video {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 50px 2px rgba(0, 0, 0, 0.26);
}


/* Partners */
.partners {
  position: relative;
  height: 306px;
  max-width: 1920px;
  min-width: 1150px;
  margin: 130px auto 0;
}

.partners__wrapper {
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners__upper-line,
.partners__lower-line {
  position: relative;
  width: 1120px;
  height: 4px;
  margin: 0;

  background: rgba(75, 75, 75, 0.4);
  border-radius: 10px;
}

.partners__lower-line {
  align-self: flex-end;
}


.partners__headline {
  position: absolute;
  height: 40px;

  font-weight: 400;
  font-size: 30px;
  line-height: 108.6%;
}


/* Logos */
.logos {
  position: relative;
  width: 810px;
  height: 200px;
  top: 40px;
  left: 20px;
}

.toyota {
  width: 100px;
  height: 82px;
  margin: 0 25px;
}

.luk-oil {
  width: 75px;
  height: 75px;
  margin: 0 25px;
}

.dell {
  width: 80px;
  height: 80px;
  margin: 0 25px;
}

.redbull {
  width: 122px;
  height: 75px;
  margin: 0 25px;
}

.gopro {
  width: 161px;
  height: 42px;
  margin: 0 25px;
}

.salomon {
  position: relative;
  left: 186px;

  width: 109px;
  height: 68px;
}

.msr {
  position: relative;
  top: 11px;
  left: 208px;

  width: 120px;
  height: 91px;
}

.land-rover {
  position: relative;
  left: 232px;

  width: 113px;
  height: 59px;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: 27.96vw;
  min-width: 1150px;
  min-height: 337px;
  /*max-width: 1920px;*/
  /*max-height: 562px;*/
  margin: 40px auto 0;

  background: url("../images/footer.png") bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.footer__nav {
  position: absolute;
  width: 1120px;
  height: 218px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 56px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__upper-line,
.footer__lower-line {
  position: relative;
  width: 1120px;
  height: 4px;

  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.footer__lower-line {
  align-self: flex-end;
}

.footer__subtitle {
  position: absolute;
  width: 1120px;
  height: 14px;
  left: 50%;
  transform: translateX(-50%);

  bottom: 16px;
}

.footer__copyrights {
  position: absolute;
  top: 5px;
  left: 76px;
  margin: 0;
  display: inline-block;

  font-weight: 300;
  font-size: 10px;
  line-height: 108.6%;
  color: #A7A7A7;
}

/* Column */
.column {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 0;
}

.column__left-line,
.column__center-left-line,
.column__center-right-line,
.column__right-line {
  position: absolute;
  display: inline-block;
  top: 15px;
  height: 189px;
  width: 4px;

  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.column__left-line {
  left: 170px;
}

.column__center-left-line {
  left: 552px;
}

.column__center-right-line {
  left: 742px;
}

.column__right-line {
  left: 933px;
}

.column__box {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 181px;

  font-size: 18px;
  line-height: 160%;
  margin-top: 5px;
}

.column__title {
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
}

.column__box_work-with-us {
  color: #A7A7A7;
  left: 10px;
}

.column__box_company {
  left: 420px;
}

.column__box_support {
  left: 455px;
  bottom: 26px;
}

.column__box_payment {
  left: 490px;
  bottom: 44px;
}

.column__box_mobile {
  color: #A7A7A7;

  right: 430px;
  bottom: 55px;
}

.column__box_social {
  color: #A7A7A7;

  right: 430px;
  bottom: 112px;
}


/* List-menu */
.list-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-menu__link {
  color: inherit;
  text-decoration: none;

  transition: color 0.1s linear;
}

.list-menu__link:hover {
  text-decoration: underline;
}


/* Payment */
.payment {
  position: relative;
  width: 120px;
  height: 85px;

  display: inline-block;
  top: 24px;
}


/* Mobile */
.mobile {
  position: relative;
  width: 120px;
  height: 80px;

  display: inline-block;
  top: 24px;
}

/* Social */
.social {
  position: relative;
  width: 113px;
  height: 19px;
  top: 24px;

  display: flex;
  justify-content: space-between;
}

.social__link {
  text-decoration: none;
}